@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --accent:#993abc;
  --bg:#030617;
}

body {
  background-color: var(--bg);
  /* provisional height change to main, only for testing button func */
  height: 3000px;
}

main {
  margin-top: 4em;
  padding: 1.5em;
}

.topmenu {
  display: flex;
  text-align: left;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--accent);
  box-shadow: 0.01em 3em 2em var(--bg);
}

.blogmenu {
  display: none;
  position: fixed;
  z-index: 99;
}

.blogmenu ul {
  list-style-type: none;
}

.blogmenu ul li a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

.intro {
  color: white;
  font-family: "Droid Sans Mono", monospace;
  font-size: 4em;
}

.topnav {
  position: fixed;
  right: 0
}

.topnav ul {
  list-style-type: none;
}

.topnav ul li {
  float: left;
  padding: 1.5em;
  font-size: 1.5em;
  font-family: "JetBrains Mono", monospace;
}

.topnav ul li a {
  text-decoration: none;
  color: white;
}

.topnav ul li button {
  color: white;
  font-size: 1em;
  font-family: "JetBrains Mono", monospace;
  border: none;
  background-color: transparent;
}

.topnav ul li button:hover {
  text-decoration: underline;
}

.topnav ul li a:hover {
  text-decoration: underline;
}

.backtotop {
  font-size: 3.5em;
  text-decoration: none;
  color: white;
  background-color: var(--accent);
  border-radius: 100px;
  padding: 0.3em;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  transition: all 299ms ease 0ms;
  z-index: 98;
  font-family: 'JetBrains Mono', monospace;
}

.backtotop:hover {
  box-shadow: -1px 10px 15px var(--accent);
  transform: translateY(-8px);
}


#title {
  color: white;
  font-size: 3em;
  font-family: "JetBrains Mono", monospace;
}

#logo {
  height: 6em;
  width: 6em;
}

#user {
  height: 1.5em;
  width: 1.5em;
}
