@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  background-color: #0b0c15;
}

main {
  margin-top: 5em;
  padding: 50px;
}

.topmenu {
  display: flex;
  text-align: left;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f1121;
}

.intro {
  color: white;
  font-family: "Droid Sans Mono", monospace;
  font-size: 4em;
}

#title {
  color: white;
  font-size: 4em;
  font-family: "JetBrains Mono", monospace;
}

#logo {
  height: 7em;
  width: 7em;
}
